:root {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color-oscuro: #333642;
    --color-medio-oscuro: #60495a;
    --color-medio: #937684;
    --color-claro: #caa8b3;
    --color-textos: #e0cbca;
}
/* General */
body {
    background-color: var(--color-textos);
    margin: 0;
    padding: 0;
    font-size: 16px; /* Tamaño de texto base para dispositivos más pequeños */
}

/* Sección de navegación */
.section-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-oscuro);
    padding: 10px;
}

.section-nav div {
    width: 100%;
    height: 100%;
    color: var(--color-medio);
    background-color: var(--color-medio);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-nav h1 {
    font-size: 1.2rem;
    color: var(--color-textos);
    text-decoration: none;
}

/* Ajustes para el formulario */
.show-form-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    font-size: 16px;
    background-color: var(--color-medio);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.show-form-btn:hover {
    background-color: var(--color-claro);
}

.form-container {
    position: fixed;
    bottom: 80px; /* Ajustar para que no se sobreponga al botón */
    right: 20px;
    width: 90%;
    max-width: 400px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
}

/* Dropdown */
.dropdown-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-medio);
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: var(--color-claro);
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo de los campos del formulario */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    background-color: var(--color-medio);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-claro);
}

/* Notas Dinámicas */
.note {
    background-color: var(--color-oscuro);
    color: var(--color-textos);
    border: 1px solid var(--color-oscuro);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}

.note:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.note h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-claro);
    text-align: center;
    cursor: pointer;
}

.note p:last-child {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-textos);
    text-align: center;
}

/* Footer */
footer {
    width: 100%;
    height: 200px;
    font-size: 2rem;
    text-align: center;
    color: var(--color-claro);
    padding: 40px 0;
    background-color: var(--color-oscuro);
}

/* Responsividad */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Reducir tamaño de texto en pantallas pequeñas */
    }

    .section-nav {
        font-size: 1rem;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    }

    .seccion-form form {
        width: 100%;
        padding: 20px;
    }

    .note {
        padding: 1rem;
        margin: 1rem 0;
        max-height: 350px;
    }

    .note h2 {
        font-size: 1.2rem;
    }

    .note p {
        font-size: 0.9rem;
    }

    .note p:last-child {
        font-size: 1.1rem;
    }

    .show-form-btn {
        font-size: 14px;
        padding: 12px 22px;
    }

    .form-container {
        width: 90%;
        padding: 15px;
        bottom: 80px;
    }

    .dropdown-btn {
        font-size: 14px;
        padding: 8px;
    }

    footer {
        font-size: 1.5rem;
        padding: 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .note {
        padding: 0.75rem;
        margin: 1rem 0;
        max-height: 300px;
    }

    .note h2 {
        font-size: 1.1rem;
    }

    .note p {
        font-size: 0.8rem;
    }

    .note p:last-child {
        font-size: 1rem;
    }

    .form-container {
        width: 95%;
        padding: 10px;
    }

    .show-form-btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .dropdown-btn {
        padding: 8px;
        font-size: 12px;
    }

    footer {
        font-size: 1.2rem;
        padding: 10px 0;
    }
}
